<br>
<div class="row">
    <!-- Total Ordered Section-->
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-ordered">
                <div class="card-header">
                    <h5 class="card-title">Total Order</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_orders}}</h3>
                </div>
            </div>
        </div>
    </div>


    <!-- Total Delivered Setion-->
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-delivered">
                <div class="card-header">
                    <h5 class="card-title">Total Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{delivered}}</h3>
                </div>
            </div>
        </div>
    </div>
    


    <!-- Total Pending Section -->
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-pending">
                <div class="card-header">
                    <h5 class="card-title">Total Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pending}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
